.status_indicator{
    -fx-background-color: #ff0000;
}

.status_playing{
    -fx-background-color: #4b8b56;
    -fx-opacity: 1;
}

.status_waiting{
    -fx-background-color: #ff9900;
    -fx-opacity: 1;
}

.missthrow_indicator_ok{
    -fx-background-color: #EFEFEF;
    -fx-border-color: #333333;
    -fx-background-insets: 0 0 1 0;
    -fx-background-radius: 0;
    -fx-text-fill: #333333;
    -fx-font-size: 12;
}

.missthrow_indicator_fail{
    -fx-background-color: #A43E46;
    -fx-border-color: #333333;
    -fx-background-insets: 0 0 1 0;
    -fx-background-radius: 0;
    -fx-text-fill: #EFEFEF;
    -fx-font-size: 12;
}
